<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.kudanai.osx.radheef</string>
	<key>CFBundleName</key>
	<string>Radheef</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleDisplayName</key>
	<string>ދިވެހި‮ ‬ރަދީފް</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyleft 2012 KudaNai</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>KudaNai</string>
</dict>
</plist>
